@model ClassicalMusicShop.Website.Features.SheetMusic.SheetMusicViewModel
@{
    Layout = "~/Features/Layout/Views/MainLayout.cshtml";
}
<div>
    <div>
        @* media *@
        <div>
            @if (Model.MainImage != null)
            {
                <img src="@Model.MainImage.Url" alt="@Model.MainImage.Media.Title" />
            }
        </div>

        @* product *@
        <div>
            <div @Html.EditAttributes(x => x.ProductModel.Product.DisplayName)>
                <h1>@Model.ProductModel.Product.DisplayName</h1>
            </div>

            <div>

                @* variant *@
                <div>

                    <div>
                        <div>Instrument</div>
                        <div>
                            <ul>
                                @foreach (var variantOption in Model.Instruments)
                                {
                                    <li class="@(variantOption.IsSelected ? "active" : "")">
                                        <a href="@variantOption.Url">
                                            @variantOption.Text
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    @if (Model.HasVariant)
                    {
                        <div>
                            <div @Html.EditAttributes(x => x.VariantModel.Variant.Code)>
                                @Model.VariantModel.Variant.Code
                            </div>
                            <div>
                                @Model.VariantModel.Price.ToString("C")
                            </div>
                        </div>

                        <div>
                            @{
                                string code = Model.VariantModel.Variant.Code;
                                var currentPageLink = Model.CurrentPageLink;
                                int quantity = 1;
                            }
                            @using (Html.BeginForm("AddToCart", "CartPage", FormMethod.Post))
                            {
                                @Html.HiddenFor(x => code)
                                @Html.HiddenFor(x => currentPageLink)
                                <div>
                                    Quantity:
                                    @Html.TextBoxFor(x => quantity)
                                </div>
                                <div>
                                    <input type="submit" name="submit" value="Add to Cart" />
                                </div>
                            }
                        </div>
                    }
                </div>

                @* details *@
                <div>
                    <h2>Details</h2>
                    <div>
                        <table>
                            <tr>
                                <td>Composer</td>
                                <td>
                                    <div @Html.EditAttributes(x => x.ProductModel.Product.Composer)>
                                        @Model.ProductModel.Product.Composer
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Opus</td>
                                <td>
                                    <div @Html.EditAttributes(x => x.ProductModel.Product.Opus)>
                                        Op.@Model.ProductModel.Product.Opus
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Key</td>
                                <td>
                                    <div @Html.EditAttributes(x => x.ProductModel.Product.Key)>
                                        @Model.ProductModel.Product.Key
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Movements</td>
                                <td>
                                    <div @Html.EditAttributes(x => x.ProductModel.Product.MovementList)>
                                        <ul>
                                            @foreach (var movement in Model.ProductModel.Movements)
                                            {
                                                <li>@movement</li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>
                                    <div @Html.EditAttributes(x => x.ProductModel.Product.YearComposed)>
                                        @Model.ProductModel.Product.YearComposed
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>