@using ClassicalMusicShop.Website.Features.Cart
@model ClassicalMusicShop.Website.Features.SheetMusic.SheetMusicViewModel
@{
    Layout = "~/Features/Layout/Views/MainLayout.cshtml";
}
<div>
    <div>

        @* media *@
        <div>
            <img src="@Model.MainImage.Url" alt="@Model.MainImage.Media.Title" />
        </div>

        @* detail *@
        <div>

            @* product *@
            <div>
                <div @Html.EditAttributes(x => x.ProductModel.Product.DisplayName)>
                    <h1>@Model.ProductModel.Product.DisplayName</h1>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>Composer</td>
                            <td>
                                <div @Html.EditAttributes(x => x.ProductModel.Product.Composer)>
                                    @Model.ProductModel.Product.Composer
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Opus</td>
                            <td>
                                <div @Html.EditAttributes(x => x.ProductModel.Product.Opus)>
                                    Op.@Model.ProductModel.Product.Opus
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Key</td>
                            <td>
                                <div @Html.EditAttributes(x => x.ProductModel.Product.Key)>
                                    @Model.ProductModel.Product.Key
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Movements</td>
                            <td>
                                <div @Html.EditAttributes(x => x.ProductModel.Product.MovementList)>
                                    @foreach (var movement in Model.ProductModel.Product.MovementList)
                                    {
                                        <div>@movement</div>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>
                                <div @Html.EditAttributes(x => x.ProductModel.Product.YearComposed)>
                                    @Model.ProductModel.Product.YearComposed
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            @* instrument selection *@
            <div>
                <ul>
                    @foreach (var variantOption in Model.Instruments)
                    {
                        <li>
                            <a href="@variantOption.Url">
                                @variantOption.Text
                            </a>
                        </li>
                    }
                </ul>
            </div>

            @if (Model.HasVariant)
            {
                // variant
                <div>
                    <div @Html.EditAttributes(x => x.VariantModel.Variant.DisplayName)>
                        <h2>@Model.VariantModel.Variant.DisplayName</h2>
                    </div>
                    <div @Html.EditAttributes(x => x.VariantModel.Variant.Code)>
                        @Model.VariantModel.Variant.Code
                    </div>
                    <div>
                        @Model.VariantModel.Price USD
                    </div>
                </div>

                // cart
                <div>
                    @{
                        var addToCartInputModel = new AddToCartInputModel
                        {
                            Code = Model.VariantModel.Variant.Code,
                            CurrentPageLink = Model.CurrentPageLink, 
                            Quantity = 1
                        };
                    }
                    @using (Html.BeginForm("AddToCart", "CartPage", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => addToCartInputModel)
                        @Html.HiddenFor(x => addToCartInputModel.CurrentPageLink)
                        @Html.TextBoxFor(x => addToCartInputModel.Quantity)

                    }
                </div>
            }

        </div>

    </div>
</div>